.country__info {
    display: flex;
}

h2 {
    text-align: center;
}

li,
ul,
p {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    margin: 0 300px;
    width: 500px;
    height: 500px;
}